<div class="container-fluid mb-10">

    <!-- <app-page-title title="SalesQuotations" [breadcrumbItems]="breadCrumbItems"></app-page-title> -->
    <div class="mb-2" style="display: none;">
        <button type="button" class="btn btn-primary btn-sm w-xs waves-effect waves-light rounded-circle"><i class="mdi mdi-plus"></i></button>
        <span class="mt-2 title">Sales Quotation</span>
    </div>

    <div class="">
        <button type="button" class="btn btn-primary waves-effect waves-light mb-3" (click)="add()"><i class="mdi mdi-plus me-1"></i>
          Sales Quotation</button>
      </div>

    <div class="">
        <div class="checkout-tabs">
          <div class="row">
            <div class="col-lg-12">
              <div class="">
                <div class="checkout-acco">
                  <ngb-accordion [closeOthers]="true" activeIds="static-1" class="checkout-accordion">
                    <ngb-panel id="static-1">
                      <ng-template ngbPanelTitle class="border-bottom">
                        <a class="text-reset">
                          <div class="d-flex align-items-start align-items-center">
                            <!-- <div class="me-3">
                              <i class="uil uil-search text-primary h5"></i>
                            </div> -->
                            <div class="flex-1 overflow-hidden">
                              <h5 class="font-size-15 mb-1">Search</h5>
                            </div>
                          </div>
                        </a>
                      </ng-template>
                      <ng-template ngbPanelContent>
                        <div id="checkout-billinginfo-collapse">
                          <div class="border-top pt-2">
                            <form>
                              <div>
                                <div class="row">
                                  <div class="col-lg-4">
                                    <div class="mb-2">
                                      <label class="form-label" for="billing-name">Quotation No.</label>
                                      <input type="text" class="form-control form-control-sm" id="billing-name" />
                                    </div>
                                  </div>
                                  <div class="col-lg-4">
                                    <div class="mb-2">
                                      <label class="form-label" for="billing-email-address">Quotation Date</label>
                                      <input class="form-control form-control-sm" type="date" value="" id="example-date-input">
                                    </div>
                                  </div>
                                  <div class="col-lg-4">
                                    <div class="mb-2">
                                      <label class="form-label" for="billing-phone">Quoted By</label>
                                      <input type="text" class="form-control form-control-sm" id="billing-phone"/>
                                    </div>
                                  </div>
                                </div>   
                                
                                <div class="row">
                                    <div class="col-lg-4">
                                      <div class="mb-2">
                                        <label class="form-label" for="billing-name">Reg No.</label>
                                        <input type="text" class="form-control form-control-sm" id="billing-name" />
                                      </div>
                                    </div>
                                    <div class="col-lg-4">
                                      <div class="mb-2">
                                        <label class="form-label" for="billing-email-address">Make</label>
                                        <input type="email" class="form-control form-control-sm" id="billing-email-address"/>
                                      </div>
                                    </div>
                                    <div class="col-lg-4">
                                      <div class="mb-2">
                                        <label class="form-label" for="billing-phone">Model</label>
                                        <input type="text" class="form-control form-control-sm" id="billing-phone"/>
                                      </div>
                                    </div>
                                </div> 
      
                                <div class="row">
                                  <div class="col-lg-4">
                                    <div class="mb-2">
                                      <label class="form-label">Customer Name</label>
                                      <input type="text" class="form-control form-control-sm" id="billing-name" />
                                    </div>
                                  </div>
      
                                  <div class="col-lg-4">
                                    <div class="mb-2">
                                      <label class="form-label" for="billing-city">Status</label>
                                      <select class="form-select form-control-sm select-status">
                                        <option>Select</option>
                                        <option>Open</option>
                                        <option>Quoted</option>
                                        <option>Confirmed</option>
                                      </select>
                                    </div>
                                  </div>                                
                                </div>   
                                  
                                
                                <div class="row mt-1">
                                    <div class="col-lg-12">               
                                        <button type="submit" class="btn btn-primary btn-sm w-sx float-end"><i class="mdi mdi-file-search-outline me-1"></i>Search</button>
                                    </div>
                                </div>

                              </div>                              
                            </form>
                          </div>
                        </div>
                      </ng-template>
                    </ngb-panel>
                  </ngb-accordion>
                </div>
              </div>
      
              <!-- end row-->
            </div>
      
          </div>
        </div>
      </div>
      
  
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">            
            <div class="row mb-md-2">
              <div class="col-sm-12 col-md-6">
                <div class="dataTables_length"><label class="d-inline-flex align-items-center">Show<select name="pageSize" [(ngModel)]="service.pageSize" class="custom-select custom-select-sm form-control form-control-sm form-select form-select-sm">
                      <option [ngValue]="5">5</option>
                      <option [ngValue]="10">10</option>
                      <option [ngValue]="25">25</option>
                      <option [ngValue]="50">50</option>
                      <option [ngValue]="100">100</option>
                    </select> entries</label></div>
              </div>
              <!-- Search -->
              <!-- <div class="col-sm-12 col-md-6">
                <div id="tickets-table_filter" class="dataTables_filter text-md-end"><label class="d-inline-flex align-items-center">Search:
                    <input type="text" name="searchTerm" class="form-control form-control-sm ms-2" aria-controls="tickets-table" [(ngModel)]="service.searchTerm"></label></div>
              </div> -->
              <!-- End search -->
            </div>
            <div class="table-responsive">
              <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <form>
                  <table class="table table-centered datatables dt-responsive nowrap table-card-list" style="border-collapse: collapse; width: 100%;">
                    <thead>
                      <tr>
                        <th style="width: 20px;">
  
                          <!-- <div class="form-check text-center">
                            <input type="checkbox" class="form-check-input" id="customercheck">
                            <label class="form-check-label" for="customercheck"></label>
                          </div> -->
                        </th>
                        <th style="width: 80px;">Action</th>
                        <th scope="col" sortable="quotation_no" (sort)="onSort($event)">Quotation No.</th>
                        <th scope="col" sortable="quotation_date" (sort)="onSort($event)">Quotation Date</th>
                        <th scope="col" sortable="customer_name" (sort)="onSort($event)">Customer Name</th>
                        <th scope="col" sortable="quoted_by" (sort)="onSort($event)">Quoted By</th>
                        <th scope="col" sortable="reg_no" (sort)="onSort($event)">Reg No.</th>
                        <th scope="col" sortable="make" (sort)="onSort($event)">Make</th>
                        <th scope="col" sortable="model" (sort)="onSort($event)">Model</th>
                        <th scope="col" sortable="status" (sort)="onSort($event)">Status</th>                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of salesQuotations$ | async">
                        <td>
                            {{ data.id }}
                          <!-- <div class="form-check text-center">
                            <input id="ordercheck{{data.index}}" type="checkbox" class="form-check-input" />
                            <label class="form-check-label" for="ordercheck{{data.index}}">&nbsp;</label>
                          </div> -->
                        </td>
                        <td>
                          <a (click)="view()" href="javascript:void(0);" class="px-1 text-primary" placement="top" ngbTooltip="View"><i class="uil uil-book-open font-size-18"></i></a>
                          <a (click)="edit()" href="javascript:void(0);" class="px-1 text-primary" placement="top" ngbTooltip="Edit"><i class="uil uil-pen font-size-18"></i></a>
                          <!-- <a href="javascript:void(0);" class="px-3 text-danger" placement="top" ngbTooltip="Delete"><i class="uil uil-trash-alt font-size-18"></i></a> -->
                        </td>
                        <td>
                            {{ data.quotation_no }}
                          <!-- <ngb-highlight [result]="data.id" [term]="service.searchTerm"></ngb-highlight> -->
                        </td>
                        <td>
                            {{ data.quotation_date }}
                          <!-- <img src="{{data.photo}}" alt="" class="avatar-xs rounded-circle me-2" *ngIf="data.photo">
                          <div class="avatar-xs d-inline-block me-2" *ngIf="!data.photo">
                            <span class="avatar-title rounded-circle bg-light text-body">
                              {{data.username.charAt(0)}}
                            </span>
                          </div>
                          <ngb-highlight [result]="data.username" [term]="service.searchTerm"></ngb-highlight> -->
                        </td>
                        <td>
                            {{ data.customer_name }}
                          <!-- <ngb-highlight [result]="data.email" [term]="service.searchTerm"></ngb-highlight> -->
                        </td>
                        <td>
                            {{ data.quoted_by }}
                          <!-- <ngb-highlight [result]="data.date" [term]="service.searchTerm"></ngb-highlight> -->
                        </td>
                        <td>
                            {{ data.reg_no }}
                        </td>
                        <td>
                            {{ data.make }}
                        </td>
                        <td>
                            {{ data.model }}
                        </td>
                        <td>
                          <span class="badge bg-pill bg-success-subtle text-success font-size-12" [ngClass]=" { 'bg-danger-subtle text-danger': data.status === 'Deactive' }">{{data.status}}</span>
                        </td>                        
                      </tr>
                    </tbody>
                  </table>
  
                  <div class="float-end">
                    <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
                      <ng-template ngbPaginationPrevious>Previous</ng-template>
                      <ng-template ngbPaginationNext>Next</ng-template>
                    </ngb-pagination>
                  </div>
  
                </form>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </div>

    <div class="row" style="display: none;">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
<span>123</span>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
  </div>